# Map Tweet to Census Region

This notebook maps tweets to the corresponding census regions

*Author: Koki Sasagawa*  
*Date: 4/14/2019*

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
from shapely.geometry import Polygon, Point
from datetime import datetime
from pytz import timezone

sys.path.insert(0, '../utils/')
from twitter_processing import tweet_coordinate_mapper
from api import reverse_geocode
from decorators import timer

%matplotlib inline

## 1. Load Tweet data

1. Tweet data containing SF, or mention SF
2. Filtered tweets from each month that contain coordinates which map to greater area of San Fransisco

In [2]:
input_dir = '../../raw_data/tweets/'

files = sorted(os.listdir(input_dir))
for i, fname in enumerate(files):
    print(i, fname)

0 tweet_2016_02_01.csv
1 tweet_2016_02_02.csv
2 tweet_2016_02_03.csv
3 tweet_2016_02_04.csv
4 tweet_2016_02_05.csv
5 tweet_2016_02_06.csv
6 tweet_2016_02_07.csv
7 tweet_2016_02_08.csv
8 tweet_2016_02_09.csv
9 tweet_2016_02_10.csv
10 tweet_2016_02_11.csv
11 tweet_2016_02_12.csv
12 tweet_2016_02_13.csv
13 tweet_2016_02_14.csv
14 tweet_2016_02_15.csv
15 tweet_2016_02_16.csv
16 tweet_2016_02_17.csv
17 tweet_2016_02_18.csv
18 tweet_2016_02_19.csv
19 tweet_2016_02_20.csv
20 tweet_2016_02_21.csv
21 tweet_2016_02_22.csv
22 tweet_2016_02_23.csv
23 tweet_2016_02_24.csv
24 tweet_2016_02_25.csv
25 tweet_2016_02_26.csv
26 tweet_2016_02_27.csv
27 tweet_2016_02_28.csv
28 tweet_2016_02_29.csv

In [3]:
tweet1 = pd.read_csv(input_dir + files[0],
                     parse_dates=['time'],
                     # date_parser=dateparse,
                     infer_datetime_format=True)

print(files[0])
print("Dimensions: {}".format(tweet1.shape))
tweet1.head()

tweet_2016_02_01.csv
Dimensions: (3944, 13)

,lon,lat,time,time_stamp,text,hashtags,urls,user_mentions,favorite_count,retweet_count,user_followers_count,user_friends_count,user_statuses_count
0,-119.306608,37.269176,2016-02-01 05:00:15+00:00,1454302815740,"A guy at the airport:\n""Idk why he cut me off ...",0,0,0,0,0,160,189,1119
1,0.314300,42.308346,2016-02-01 05:01:01+00:00,1454302861683,"@JoptanElMagno @apranorte y lo mejor,no caer e...",0,0,2,0,0,302,727,14007
2,-122.435978,37.770657,2016-02-01 05:01:14+00:00,1454302874659,I rather him call me his friend then just a wh...,2,0,0,0,0,87,187,1362
3,-122.435978,37.770657,2016-02-01 05:01:39+00:00,1454302899722,https://t.co/WNKPn1itmN,0,0,0,0,0,10,47,1
4,-122.466364,37.780964,2016-02-01 05:01:50+00:00,1454302910678,attended @starparish Speaker Series: a gr8 pre...,0,1,1,0,0,751,748,16076

## 2. Match the timezone

The datetime used in the tweets are UTC.  
Convert these datetime objects to match San Francisco timezone (Pacific Standard Time)

In [4]:
tweet1['time'].iloc[0]

Timestamp('2016-02-01 05:00:15+0000', tz='UTC')

In [5]:
def time_zone_converter(date, zone):
    """Convert the datetime object to a specified timezone
    
    :param date: datetime 
    :type date: pandas._libs.tslibs.timestamps.Timestamp
    :param str zone: desired timezone 
    :return: datetime in specified timezone 
    :rtype: pandas._libs.tslibs.timestamps.Timestamp
    """
    
    date_format = '%Y-%m-%d %H:%M:%S %Z'
    date.strftime(date_format)
    date = date.astimezone(timezone(zone))
    return date.strftime('%Y-%m-%d %H:%M:%S')

In [6]:
tweet1.loc[:, 'time'] = tweet1.apply(lambda row: time_zone_converter(date=row['time'], zone='US/Pacific'), axis=1)
tweet1.head()

,lon,lat,time,time_stamp,text,hashtags,urls,user_mentions,favorite_count,retweet_count,user_followers_count,user_friends_count,user_statuses_count
0,-119.306608,37.269176,2016-01-31 21:00:15,1454302815740,"A guy at the airport:\n""Idk why he cut me off ...",0,0,0,0,0,160,189,1119
1,0.314300,42.308346,2016-01-31 21:01:01,1454302861683,"@JoptanElMagno @apranorte y lo mejor,no caer e...",0,0,2,0,0,302,727,14007
2,-122.435978,37.770657,2016-01-31 21:01:14,1454302874659,I rather him call me his friend then just a wh...,2,0,0,0,0,87,187,1362
3,-122.435978,37.770657,2016-01-31 21:01:39,1454302899722,https://t.co/WNKPn1itmN,0,0,0,0,0,10,47,1
4,-122.466364,37.780964,2016-01-31 21:01:50,1454302910678,attended @starparish Speaker Series: a gr8 pre...,0,1,1,0,0,751,748,16076

There seems to be something off with the coordinates.
Check to see what address they map to

In [3]:
reverse_geocode(lon=-119.306608, lat=37.269176)

'Fresno, CA, United States'

In [4]:
reverse_geocode(lon=0.314300, lat=42.308346)

'La Fueva, Aragón, España'

In [6]:
reverse_geocode(lon=-122.435978, lat=37.770657)

'Lower Haight, San Francisco, CA, United States'

## 3. Convert lon, lat coordinates into GIS point

Configuring the coordinate_mapper function used to map speed data for twitter data.

In [7]:
shp_file = '../../temp_data/sf_GEOID_GIS_data.shp'

# Load census data 
shp_file = gpd.GeoDataFrame.from_file(shp_file)
print('Size of census zones df: {}'.format(shp_file.shape))
shp_file.head()

Size of census zones df: (196, 2)

      geoid10                                           geometry
0  6075016500  POLYGON ((-122.446471 37.775802, -122.44478 37...
1  6075016400  POLYGON ((-122.44034 37.77658, -122.439844 37....
2  6075016300  POLYGON ((-122.429152 37.778007, -122.428909 3...
3  6075016100  POLYGON ((-122.428909 37.778039, -122.429152 3...
4  6075016000  POLYGON ((-122.420425 37.780583, -122.420336 3...

Remove the region ID 6075990100 from the shp file

In [8]:
shp_file = shp_file[shp_file["geoid10"] != 6075990100]
print(shp_file.shape)

(195, 2)

In [9]:
# add timer 
tweet_coordinate_mapper = timer(tweet_coordinate_mapper)

In [10]:
# Directory to store files created
output_dir = "../../temp_data/tweets_mapped/"

In [11]:
cols = np.delete(np.arange(12), 3)
cols

array([ 0,  1,  2,  4,  5,  6,  7,  8,  9, 10, 11])

In [12]:
# Test
tweet_coordinate_mapper(shp_file=shp_file,
                        input_dir=input_dir, 
                        output_dir=output_dir, 
                        file_name="tweet_2016_02_01.csv",
                        columns=cols,
                        col_time="time",
                        zone="US/Pacific")

tweet_coordinate_mapper.head()

Running tweet_coordinate_mapper...
Finished in 1.5909s

,lon,lat,time,text,hashtags,urls,user_mentions,favorite_count,retweet_count,user_followers_count,user_friends_count,geometry,index_right,geoid10
2,-122.435978,37.770657,2016-01-31 21:01:14,I rather him call me his friend then just a wh...,2,0,0,0,0,87,187,POINT (-122.4359785 37.7706565),194,6075016700
3,-122.435978,37.770657,2016-01-31 21:01:39,https://t.co/WNKPn1itmN,0,0,0,0,0,10,47,POINT (-122.4359785 37.7706565),194,6075016700
7,-122.435978,37.770657,2016-01-31 21:03:44,Damn. Does Sandy love across the street from t...,1,0,0,0,0,887,956,POINT (-122.4359785 37.7706565),194,6075016700
8,-122.435978,37.770657,2016-01-31 21:04:04,@angeles19820928 @AsiaPrince_JKS MIRA MI PERFI...,0,0,2,0,0,464,695,POINT (-122.4359785 37.7706565),194,6075016700
9,-122.435978,37.770657,2016-01-31 21:04:10,"""We could butt chug two bottles of #wine, no p...",1,0,0,0,0,1218,2067,POINT (-122.4359785 37.7706565),194,6075016700
12,-122.435978,37.770657,2016-01-31 21:04:38,"“It’s been a wonderful wonderful evening, I me...",0,0,0,0,0,1211,129,POINT (-122.4359785 37.7706565),194,6075016700
17,-122.435978,37.770657,2016-01-31 21:05:26,day out with my suga &amp; papi D https://t.co...,0,0,0,0,0,168,289,POINT (-122.4359785 37.7706565),194,6075016700
19,-122.435978,37.770657,2016-01-31 21:05:39,Great events for #BlackHistoryMonth at #UCHast...,2,0,0,0,0,6271,524,POINT (-122.4359785 37.7706565),194,6075016700
20,-122.435978,37.770657,2016-01-31 21:05:54,"@thehipsch Andre, same surname, Civil Engineer...",0,0,1,0,0,933,676,POINT (-122.4359785 37.7706565),194,6075016700
22,-122.435978,37.770657,2016-01-31 21:06:21,@GavuL_ fero is gonna get shit on,0,0,1,0,0,351,265,POINT (-122.4359785 37.7706565),194,6075016700
38,-122.435978,37.770657,2016-01-31 21:12:40,I love @jtimberlake and hope he's having a bea...,0,0,1,0,0,324,224,POINT (-122.4359785 37.7706565),194,6075016700
43,-122.435978,37.770657,2016-01-31 21:13:33,The first picture on this app … https://t.co/f...,0,0,0,0,0,6,31,POINT (-122.4359785 37.7706565),194,6075016700
44,-122.435978,37.770657,2016-01-31 21:13:38,🅱🐐 - you went MIA 😭🙄😒,0,0,0,0,0,600,380,POINT (-122.4359785 37.7706565),194,6075016700
45,-122.435978,37.770657,2016-01-31 21:14:02,@MissShannon85 I've read all the 50 Shades boo...,0,0,1,0,0,1202,1068,POINT (-122.4359785 37.7706565),194,6075016700
46,-122.435978,37.770657,2016-01-31 21:14:19,Great quote by @KevinMaddenDC on @CNN the othe...,0,0,3,0,0,124,302,POINT (-122.4359785 37.7706565),194,6075016700
48,-122.435978,37.770657,2016-01-31 21:14:51,@oliviatattory I know.,0,0,1,0,0,1171,948,POINT (-122.4359785 37.7706565),194,6075016700
54,-122.435978,37.770657,2016-01-31 21:16:02,The results of this poll will help us. Where w...,0,0,0,0,0,2465,13,POINT (-122.4359785 37.7706565),194,6075016700
58,-122.435978,37.770657,2016-01-31 21:17:02,Comcast outage on a Sunday night - terrible.,0,0,0,0,0,197,181,POINT (-122.4359785 37.7706565),194,6075016700
60,-122.435978,37.770657,2016-01-31 21:17:42,I did not give up Cause I knew I would prevail 💯,0,0,0,0,0,203,511,POINT (-122.4359785 37.7706565),194,6075016700
65,-122.435978,37.770657,2016-01-31 21:18:25,"Jumped onto the sofa, crawled onto my lady hum...",0,0,0,0,0,79,31,POINT (-122.4359785 37.7706565),194,6075016700
66,-122.435978,37.770657,2016-01-31 21:18:30,Welp im just gonna lurk,0,0,0,0,0,757,232,POINT (-122.4359785 37.7706565),194,6075016700
68,-122.435978,37.770657,2016-01-31 21:18:46,@BammaSamma you look like Sarah in your pic,0,0,1,0,0,215,151,POINT (-122.4359785 37.7706565),194,6075016700
75,-122.435978,37.770657,2016-01-31 21:21:14,"@zakkautrey @MykaMichael whatever this is, I l...",0,0,2,0,0,3402,182,POINT (-122.4359785 37.7706565),194,6075016700
84,-122.435978,37.770657,2016-01-31 21:22:56,Lolz tried to fix typos but subject matter mak...,0,0,0,0,0,1267,1895,POINT (-122.4359785 37.7706565),194,6075016700
85,-122.435978,37.770657,2016-01-31 21:23:07,Ok so the @MBFGreekWedding trailer does apply ...,2,0,1,0,0,592,1221,POINT (-122.4359785 37.7706565),194,6075016700
91,-122.435978,37.770657,2016-01-31 21:24:20,@jaimeleilanif you https://t.co/p3WXpHKhDr,0,1,1,0,0,379,387,POINT (-122.4359785 37.7706565),194,6075016700
101,-122.435978,37.770657,2016-01-31 21:26:52,😂😂💪🏽 shit probably would https://t.co/J5KJ9HGHEY,0,1,0,0,0,265,136,POINT (-122.4359785 37.7706565),194,6075016700
103,-122.435978,37.770657,2016-01-31 21:28:14,👽🖖🏾- girl so much to say to you 😩💘 you done be...,0,0,0,0,0,600,380,POINT (-122.4359785 37.7706565),194,6075016700
105,-122.435978,37.770657,2016-01-31 21:28:50,@KatieRost please tell your man that there ain...,3,0,2,0,0,537,277,POINT (-122.4359785 37.7706565),194,6075016700
106,-122.435978,37.770657,2016-01-31 21:28:54,@ickitsvicky I DEF recommend JINS Vicky :) Lar...,0,0,1,0,0,382,116,POINT (-122.4359785 37.7706565),194,6075016700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707,-122.510833,37.759444,2016-02-01 15:48:56,When you wake up and it's #Monday and you deci...,1,1,0,0,0,80,188,POINT (-122.51083333 37.75944444),112,6075035201
3062,-122.510833,37.759444,2016-02-01 17:34:59,"Brrrr... . 😈 @ Ocean Beach, San Francisco http...",0,1,0,0,0,1507,1871,POINT (-122.51083333 37.75944444),112,6075035201
2781,-122.412255,37.729770,2016-02-01 16:10:13,@sephi_loli ... Y a y ?,0,0,1,0,0,661,444,POINT (-122.4122545 37.72976950000001),68,6075025701
2862,-122.436373,37.765716,2016-02-01 16:38:13,The 38 Muni is an existence proof that somethi...,0,0,0,0,0,3119,460,POINT (-122.4363725 37.76571550000001),192,6075017000
2885,-122.423935,37.781335,2016-02-01 16:43:01,"Night Life 🌙 #TopRankRecords @ Bay Area, Calif...",1,1,0,0,0,1251,2118,POINT (-122.42393527 37.78133513),3,6075016100
2903,-122.445339,37.770372,2016-02-01 16:48:30,Opened Graffiti request via iphone at Intersec...,0,1,0,0,0,57,0,POINT (-122.44533934 37.77037248),195,6075016600
3008,-122.421642,37.739719,2016-02-01 17:18:22,Wondering if they read the earnings or not… ht...,0,1,0,0,0,346,633,POINT (-122.421642 37.739719),155,6075025401
3020,-122.429432,37.772785,2016-02-01 17:22:02,"@AmyJane Record three of those, and you’ve got...",0,0,1,0,0,251,416,POINT (-122.429432 37.7727855),71,6075016801
3395,-122.426437,37.770703,2016-02-01 19:05:56,Opened Graffiti request via iphone at 77 Herma...,0,1,0,0,0,57,0,POINT (-122.42643667 37.77070333),71,6075016801
3586,-122.429432,37.772785,2016-02-01 19:49:01,@HamptonU_Alumni would love to get something l...,0,0,1,0,0,726,571,POINT (-122.429432 37.7727855),71,6075016801
3896,-122.429432,37.772785,2016-02-01 20:51:18,Foreign https://t.co/SUCdxmgqnk,0,0,0,0,0,281,312,POINT (-122.429432 37.7727855),71,6075016801
3111,-122.465282,37.779008,2016-02-01 17:52:28,“Cutesy release notes were clever and funny th...,0,1,0,0,0,957,614,POINT (-122.465282 37.77900800000001),93,6075045200
3217,-122.429392,37.760591,2016-02-01 18:21:13,Black South African cricket comes of age https...,0,1,0,0,0,297,318,POINT (-122.4293919 37.760591),183,6075020600
3752,-122.426944,37.759722,2016-02-01 20:24:00,\\sf\\rivieras pc @gypsyuniverse @ Dolores...,0,1,1,0,0,249,375,POINT (-122.42694444 37.75972222),183,6075020600
3320,-122.396408,37.764919,2016-02-01 18:45:54,It's Music Monday on https://t.co/1hWoYzhexr &...,0,2,0,0,0,34,78,POINT (-122.3964081 37.7649193),169,6075022702
3346,-122.455100,37.720725,2016-02-01 18:53:15,Isn't all this #SuperBowlCity bullshit punishm...,1,0,0,0,0,2245,598,POINT (-122.4551 37.7207245),66,6075031201
3355,-122.464042,37.740586,2016-02-01 18:58:43,"Work, wine, and Iowa Caucus at @vindebut! Happ...",0,0,1,0,0,890,956,POINT (-122.464042 37.740586),124,6075030800
3356,-122.429532,37.775135,2016-02-01 18:59:02,Life during the Eisenhower administration was ...,0,0,0,0,0,5105,187,POINT (-122.429532 37.775135),2,6075016300
3462,-122.478574,37.780377,2016-02-01 19:19:56,Charm City having a rough night https://t.co/2...,0,1,0,0,0,1967,1024,POINT (-122.478574 37.780377),101,6075047600
3544,-122.478574,37.780377,2016-02-01 19:40:11,Looks like we're in for a long slog this #Elec...,1,0,0,0,0,237,249,POINT (-122.478574 37.780377),101,6075047600
3928,-122.478574,37.780377,2016-02-01 20:57:03,"If Ted Cruz is elected President, will they se...",0,0,0,0,0,1968,1024,POINT (-122.478574 37.780377),101,6075047600
3478,-122.424337,37.761528,2016-02-01 19:24:16,"I'm at @DelfinaSf in San Francisco, CA https:/...",0,1,1,0,0,616,2015,POINT (-122.42433667 37.76152825),173,6075020700
3579,-122.418411,37.748582,2016-02-01 19:47:26,Interested in a #Nursing #job near #SanFrancis...,4,1,0,0,0,829,1,POINT (-122.4184108 37.7485824),181,6075020900
3715,-122.409775,37.791831,2016-02-01 20:17:21,@garciacamposja @MargotAB Muchas Gracias amigo...,0,0,2,0,0,11689,8381,POINT (-122.40977508 37.79183086),90,6075011902
3737,-122.409742,37.791820,2016-02-01 20:21:04,@garciacamposja @MargotAB Gracias amigos..😄 Qu...,0,0,2,0,0,11689,8381,POINT (-122.40974199 37.79182034),90,6075011902
3773,-122.406352,37.800415,2016-02-01 20:28:31,Opened Street or Sidewalk Cleaning request via...,0,1,0,0,0,57,0,POINT (-122.40635175 37.80041501),32,6075010600
3818,-122.442027,37.799783,2016-02-01 20:35:45,Celebriting life (@ A16 - @a16sf in San Franci...,0,1,2,0,0,940,1323,POINT (-122.4420267 37.79978326),21,6075012800
3880,-122.441598,37.784096,2016-02-01 20:48:44,After MONTHS I finally found my BAE beanie 😝😁💕...,1,1,0,0,0,286,278,POINT (-122.4415983 37.7840963),8,6075015500
3887,-122.502367,37.749081,2016-02-01 20:49:23,@MikeIsaac \n\nOnce Cruz takes the lead positi...,0,0,1,0,0,109,58,POINT (-122.5023665 37.74908050000001),110,6075035400
3908,-122.437507,37.780718,2016-02-01 20:53:45,I haven’t been able to find an app for my iPad...,0,0,0,0,0,1225,633,POINT (-122.4375075 37.7807185),79,6075015801

In [8]:
for fname in files:
    tweet_coordinate_mapper(shp_file, input_dir, output_dir="../../temp_data/tweets_mapped/", fname, [])

tweet_2016_02_01.csv
tweet_2016_02_02.csv
tweet_2016_02_03.csv
tweet_2016_02_04.csv
tweet_2016_02_05.csv
tweet_2016_02_06.csv
tweet_2016_02_07.csv
tweet_2016_02_08.csv
tweet_2016_02_09.csv
tweet_2016_02_10.csv
tweet_2016_02_11.csv
tweet_2016_02_12.csv
tweet_2016_02_13.csv
tweet_2016_02_14.csv
tweet_2016_02_15.csv
tweet_2016_02_16.csv
tweet_2016_02_17.csv
tweet_2016_02_18.csv
tweet_2016_02_19.csv
tweet_2016_02_20.csv
tweet_2016_02_21.csv
tweet_2016_02_22.csv
tweet_2016_02_23.csv
tweet_2016_02_24.csv
tweet_2016_02_25.csv
tweet_2016_02_26.csv
tweet_2016_02_27.csv
tweet_2016_02_28.csv
tweet_2016_02_29.csv