# Function to create data tables for baseline time series prediction
*Author: Koki Sasagawa*  
*Last edited: 2/19/2019*

In [1]:
import pandas as pd
import numpy as np 
import os

In [11]:
# Specify file directory 
input_dir = '../temp_data/'

In [12]:
files = os.listdir(input_dir)
for i, v in enumerate(files):
    print(i, v)

0 .DS_Store
1 dummy_df.csv
2 sf_filtered_census_data.shx
3 sf_filtered_census_data.shp
4 sf_filtered_census_data.cpg
5 sf_filtered_census_data.dbf
6 sfdata_clean

In [13]:
train_df = pd.read_csv(input_dir + files[1])
train_df.head()

,Region,hour1,hour2,hour3,hour4,hour5,hour6,hour7,hour8,hour9,hour10,hour11,hour12
0,1,12,15,11,23,3,4,6,23,12,11,10,9
1,2,12,15,11,23,3,4,6,23,12,11,10,9
2,3,12,15,11,23,3,4,6,23,12,11,10,9
3,4,12,15,11,23,3,4,6,23,12,11,10,9
4,5,12,15,11,23,3,4,6,23,12,11,10,9

In [23]:
# split by x and y
input_x = train_df.iloc[:,list(range(1,6))]
output_y = train_df.iloc[:,7]

In [24]:
input_x.head()

   hour1  hour2  hour3  hour4  hour5
0     12     15     11     23      3
1     12     15     11     23      3
2     12     15     11     23      3
3     12     15     11     23      3
4     12     15     11     23      3

In [26]:
type(output_y)

pandas.core.series.Series

In [31]:
pd.concat([input_x, output_y], axis=1)

   hour1  hour2  hour3  hour4  hour5  hour7
0     12     15     11     23      3      6
1     12     15     11     23      3      6
2     12     15     11     23      3      6
3     12     15     11     23      3      6
4     12     15     11     23      3      6
5     12     15     11     23      3      6
6     12     15     11     23      3      6