# Function to create data tables for baseline time series prediction
*Author: Koki Sasagawa*  
*Last edited: 2/19/2019*

In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
# Specify file directory 
input_dir = '../temp_data/'

In [3]:
files = os.listdir(input_dir)
for i, v in enumerate(files):
    print(i, v)

0 .DS_Store
1 dummy_df.csv
2 sf_filtered_census_data.shx
3 sf_filtered_census_data.shp
4 sf_filtered_census_data.cpg
5 sf_filtered_census_data.dbf
6 sfdata_clean

In [4]:
train_df = pd.read_csv(input_dir + files[1])
train_df.head()

,Region,hour1,hour2,hour3,hour4,hour5,hour6,hour7,hour8,hour9,hour10,hour11,hour12
0,1,12,15,11,23,3,4,6,23,12,11,10,9
1,2,12,15,11,23,3,4,6,23,12,11,10,9
2,3,12,15,11,23,3,4,6,23,12,11,10,9
3,4,12,15,11,23,3,4,6,23,12,11,10,9
4,5,12,15,11,23,3,4,6,23,12,11,10,9

In [5]:
# split by x and y
input_x = train_df.iloc[:,list(range(1,6))]
output_y = train_df.iloc[:,6]

In [6]:
output_y.rename('y', inplace=True)
output_y.head()

0    4
1    4
2    4
3    4
4    4
Name: y, dtype: int64

In [7]:
input_x.head()

   hour1  hour2  hour3  hour4  hour5
0     12     15     11     23      3
1     12     15     11     23      3
2     12     15     11     23      3
3     12     15     11     23      3
4     12     15     11     23      3

In [8]:
input_x = input_x.apply(lambda x: x.tolist(), axis=1)
input_x.rename('x', inplace=True)
input_x.head()

0    [12, 15, 11, 23, 3]
1    [12, 15, 11, 23, 3]
2    [12, 15, 11, 23, 3]
3    [12, 15, 11, 23, 3]
4    [12, 15, 11, 23, 3]
Name: x, dtype: object

In [9]:
region_id = train_df.iloc[:,0]
region_id.head()

0    1
1    2
2    3
3    4
4    5
Name: Region, dtype: int64

In [10]:
prediction_table = pd.concat([region_id, input_x, output_y],
                             axis=1,) 
prediction_table.head()

   Region                    x  y
0       1  [12, 15, 11, 23, 3]  4
1       2  [12, 15, 11, 23, 3]  4
2       3  [12, 15, 11, 23, 3]  4
3       4  [12, 15, 11, 23, 3]  4
4       5  [12, 15, 11, 23, 3]  4

In [ ]:
def prediction_table_generator(data, x_idx, y_idx):
    """Generate subsets of the data split into training values (x) and prediction value (y)
    
    The resulting dataframe will contain 3 columns:
    
    region_ID | x | y |
    
    Where:
    region_ID --> unique identifier for census zones
    x --> list of training values 
    y --> prediction value 
    
    :param data: data to be formatted into training 
    :type data: DataFrame
    :param int x_idx: index setting the limit of training values (x)
    :param int y_idx: index of prediction value (y)
    """
    
    # Create series of Region ID's
    region_id = data.iloc[:,0]
    
    # Create column containing list of training values    
    input_x = data.iloc[:,list(range(1, x_idx))]
    input_x = input_x.apply(lambda x: x.tolist(), axis=1)
    input_x.rename('x', inplace=True)
    
    # Create Series of y values
    if y == x_idx + 1: 
        output_y = data.iloc[:,y_idx]
        output_y.rename('y', inplace=True)
    else:
        print('y_idx must be greater than x_idx by 1')
        return
    
    prediction_table = pd.concat([region_id, input_x, output_y], axis=1)
    
    prediction_table.to_csv('data_{}_{}.csv'.format(x_idx, y_idx), index=False)
    
    return prediction_table